body{
	max-width:600px;
	height:auto;
	background-color:purple;
}
nav a{
	position: ;
	text-decoration:none;
	color:red;
	display:block;
}
nav > ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
nav > ul > li > a{
padding:20px;
background-color:black;
}
	
nav > ul >li >a:hover{
	background:purple;
	color:red;
}
nav li {
	float: right;
	width:30%;
	text-align:center;
	border-right:10px solid purple;

}
